/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 16px;
	/* font-family: "Arimo", sans-serif; */
	font-family: "RocknRoll One", sans-serif;
}

body {
	background-image: linear-gradient(
		to right top,
		#f9f945,
		#ffdb22,
		#ffbc00,
		#ff9c00,
		#ff7b00,
		#fe6907,
		#fd5510,
		#fb3e19,
		#fc371b,
		#fd2e1d,
		#fe241f,
		#ff1621
	);

	/* background-color: white; */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a.hover {
	text-decoration: underline;
}

/* Start of site specific styles */

/* Color pallet generator link */
/* https://coolors.co/5f0f40-9a031e-fb8b24-e36414-0f4c5c */

body {
	margin: 10px;
	max-width: 1280px;
}

* {
	/* border: 1px solid #e36414; */
	color: white;
}

#top-nav ul {
	display: flex;
	margin-bottom: 10px;
	font-size: 24px;
}

#top-nav li {
	flex: 1;
	text-align: center;
	align-self: flex-end;
}

/* mouse over link */
#top-nav li:hover {
	background-color: #008b4a;
	border-radius: 10px;
	cursor: pointer;
}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
}

/* Mobile device screens */
@media (max-width: 480px) {
	#top-nav {
		opacity: 0.8;
	}
}

/* Top hero image and special offers */

#hero-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50vh;
	padding: 1rem;
}

.title {
}

.main-img {
	flex: 0.5rem;
	height: 100%;
	display: flex;
	align-items: center;
	background-image: url(media/wings.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.special-offers {
	/* max-width: 40rem; */
	height: 100%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

.special-1,
.special-2 {
	height: 50%;
	min-width: 250px;
	justify-content: center;
	align-items: center;
	background-color: #008b4a;
	display: flex;
	flex-direction: column;
	margin: 0.25rem;
	border-radius: 10px;
}

/* tablets and laptop screens */
@media (max-width: 768px) {
	#hero-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 50%;
	}
	.special-offers {
		flex-direction: row;
	}
}

/* Mobile device screens */
@media (max-width: 480px) {
	#hero-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.special-offers {
		flex-direction: column;
	}
}

/* Row of cards */

#cards {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.card {
	padding: 1rem;
	margin: 5px;
	height: 100%;
	width: 100%;
	max-width: 275px;
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #008b4a;
	border-radius: 10px;
}

.icon {
	color: white;
	font-size: 32px;
}

.header {
	margin-top: 1rem;
	font-size: 16px;
}

.sub-header {
	margin-top: 1rem;
	font-size: 11px;
}

/* tablets and laptop screens */
@media (max-width: 768px) {
	#cards {
		/* min-width: 180px; */
		min-width: 50%;
		flex-wrap: wrap;
		justify-content: center;
	}
}

/* Mobile device screens */
@media (max-width: 480px) {
	#cards {
		/* min-width: 180px; */
		min-width: 33%;
		flex-wrap: wrap;
		justify-content: center;
	}
}
/* big image section */

#big-hero {
	width: 100%;
	height: 300px;
	padding: 3rem;
}
.big-hero-image {
	display: flex;
	justify-content: center;
	height: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/* reviews section */
#review-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.review-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
}

.reviews {
	max-width: 400px;
	max-height: 300px;
	min-width: 200px;
	min-height: 100px;
	margin: 1rem;
	display: flex;
	background-color: rgb(240, 229, 229);
	padding: 5px;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	box-shadow: 4px 4px #888888;
}

.reviews img {
	border-radius: 50%;
	border-width: 5px;
	border-color: rgb(129, 129, 129);
	width: 100px;
	height: 100px;
	box-shadow: 4px 4px #888888;
}

.feedback {
	width: 200px;
	margin-left: 10px;
	align-self: center;
	text-align: start;
	color: rgb(0, 0, 0);
}

/* footer section */
footer {
	/* position: fixed; */
	/* height: 30px; */
	height: auto;
	font-size: small;
	padding: 2px;
	left: 0;
	bottom: 0;
	padding-bottom: 3px;
	width: 100%;
	text-align: center;
	background-color: #008b4a;
}

footer a:link {
	/* color: white;
	background-color: #e63946; */
	background-color: #f62b2b;
	border-radius: 28px;
	/* border: 1px solid #e63946; */
	display: inline-block;
	cursor: pointer;
	color: #f1faee;
	/* font-size: 17px; */
	padding: 2px 8px;
	text-decoration: none;
	/* text-shadow: 0px 1px 0px rgb(240, 46, 62); */
}

footer a:visited {
	text-decoration: none;
	color: #f1faee;
}

/* mouse over link */
footer a:hover {
	background-color: #ff4f4f;
}

/* Menu page styles */

#bucket-size {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.buckets {
	display: flex;
	justify-content: center;
}

.bucket {
	width: 45%;
	height: 40px;
	justify-content: center;
	border: 1px solid #f1faee;
	border-radius: 3px;
	margin: 1rem;
	text-align: center;
	background-color: #008b4a;
	border-radius: 10px;
}

#sauce-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sauceContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}

.sauces {
	display: flex;
	min-width: 30%;
	height: 40px;
	justify-content: center;
	border: 1px solid #f1faee;
	border-radius: 3px;
	margin: 10px;
	background-color: #008b4a;
	border-radius: 10px;
}

#sides-grid {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.sides {
	display: flex;
	min-width: 20%;
	justify-content: center;
	border: 1px solid #f1faee;
	border-radius: 3px;
	margin: 1rem;
	background-color: #008b4a;
	border-radius: 10px;
}

.sauces:hover {
	color: #f9f945;
	cursor: pointer;
	border: 1px solid #f9f945;
}

.sides:hover {
	color: #f9f945;
	cursor: pointer;
	border: 1px solid #f9f945;
}

.bucket:hover {
	color: #f9f945;
	cursor: pointer;
	border: 1px solid #f9f945;
}

/* tablets and laptop screens */
@media (max-width: 768px) {
	.bucket,
	.sauces,
	.sides {
		/* min-width: 180px; */
		min-width: 45%;
		flex-wrap: wrap;
	}
}

/* Mobile device screens */
@media (max-width: 480px) {
	.buckets,
	.sauces,
	.sides {
		/* min-width: 180px; */
		font-size: small;
		min-width: 75%;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Contact us page */

#contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 87vh;
	margin: auto;
}

/* tablets and laptop screens */
@media (max-width: 768px) {
	#contact-container {
		width: 80%;
		text-align: center;
	}
}

/* Mobile device screens */
@media (max-width: 480px) {
	#contact-container {
		width: 80%;
		justify-content: center;
		text-align: center;
	}
}

/* tablets and laptop screens */
@media (max-width: 768px) {
	footer {
		font-size: small;
		height: auto;
	}
}

/* Mobile device screens */
@media (max-width: 480px) {
	footer {
		font-size: smaller;
		height: auto;
	}
}
